<div class="common">
    <p-toast position="top-right"></p-toast>
</div>
<div class="sign-in-page max-vh-100">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center g-0 min-vh-100">
            <div class="col-lg-5 px-lg-3">
                <div class="card">
                    <div class="text-center mt-3">
                        <img src="assets/layout/images/landlord/diosmar.png" class="card-img-top" alt="diosmar-logo">
                    </div>
                    <div class="card-body px-lg-5 pb-lg-5">
                        <h5 class="my-3 text-uppercase">
                            <b>Autenticación</b>
                        </h5>
                        <p class="text-muted mb-3">¡Por favor, ingrese su usuario y contraseña!</p>
                        <form id="form-sign-in" [formGroup]="signInForm!" (ngSubmit)="signIn()">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="floatingUser" type="text" placeholder="name@address.com"
                                    autocomplete="off" formControlName="username">
                                <label for="floatingUser">Usuario</label>
                                <small class="alert text-danger"
                                    *ngIf="signInForm.controls['username'].invalid && signInForm.controls['username'].touched">
                                    El usuario es requerido
                                </small>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="floatingPassword" type="password"
                                    placeholder="Ingresa tu contraseña" autocomplete="off" formControlName="password">
                                <label for="floatingPassword">Contraseña</label>
                                <small class="alert text-danger"
                                    *ngIf="signInForm.controls['password'].invalid && signInForm.controls['password'].touched">
                                    La contraseña es requerida
                                </small>
                            </div>
                            <div class="row">
                                <div class="col-12 my-1 d-flex justify-content-end">
                                    <a href="/#" class="form-text text-muted">
                                        ¿Olvidó su contraseña?
                                    </a>
                                </div>
                                <div class="col-12 my-1 d-flex justify-content-center">
                                    <button id="btn_sign_in" type="submit" pButton pRipple label="Iniciar Sesión"
                                        class="p-button-sm p-button-outlined p-button-primary text-uppercase"
                                        [loading]="isLoadingSignIn" [disabled]="signInForm.invalid">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>