/* General */
@import "../../../assets/scss/colors";
@import "src/assets/scss/media-queries.scss";

.sign-in-page {
    img {
        &.card-img-top {
            width: auto;
            height: 160px;
        }
    }
}

button:enabled {
    &#btn_sign_in:hover {
        color: #ffffff;
        background: $colorPrimary !important;
        border: 1px solid $colorPrimary !important;
    }
}


@include xxs {
    img {
        &.card-img-top {
            width: 300px !important;
        }
    }
}