<div class="grid">
    <div class="col-12">
        <div class="layout-card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button id="btn_add_role" pButton pRipple label="Registrar" icon="pi pi-plus"
                        class="p-button-sm p-button-outlined p-button-success text-uppercase" (click)="open()"></button>
                </ng-template>
            </p-toolbar>
            <h4 class="my-3">
                <b>USUARIOS REGISTRADOS</b>
            </h4>
            <div class="section-container mat-elevation-z8">
                <div class="section-table-container">
                    <mat-progress-bar mode="query" *ngIf="isComplete"></mat-progress-bar>
                    <table mat-table class="section-table" [dataSource]="users">
                        <!-- identificacion Column -->
                        <ng-container matColumnDef="identificacion">
                            <th mat-header-cell *matHeaderCellDef>
                                Identificacion
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
                        </ng-container>
                        <!-- nombres Column -->
                        <ng-container matColumnDef="nombres">
                            <th mat-header-cell *matHeaderCellDef>
                                Nombres
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                        </ng-container>
                        <!-- apellidos Column -->
                        <ng-container matColumnDef="apellidos">
                            <th mat-header-cell *matHeaderCellDef>
                                Apellidos
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
                        </ng-container>
                        <!-- fechaNac Column -->
                        <ng-container matColumnDef="fechaNac">
                            <th mat-header-cell *matHeaderCellDef>
                                Fec. Nacimiento
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaNac | date:'yyyy-MM-dd'}}
                            </td>
                        </ng-container>
                        <!-- genero Column -->
                        <ng-container matColumnDef="genero">
                            <th mat-header-cell *matHeaderCellDef>
                                Genero
                            </th>
                            <td mat-cell *matCellDef="let element"
                                [matTooltip]="element.genero === 'M' ? 'MASCULINO' : 'FEMENINO'"> {{element.genero}}
                            </td>
                        </ng-container>
                        <!-- activo Column -->
                        <ng-container matColumnDef="activo">
                            <th mat-header-cell *matHeaderCellDef>
                                Estado
                            </th>
                            <td mat-cell *matCellDef="let element"
                                [matTooltip]="element.activo === true ? 'ACTIVO' : 'INACTIVO'"
                                [ngClass]="{'text-success': element.activo === true, 'text-danger': element.activo === false}">
                                {{(element.activo) ? "A" : "I"}} </td>
                        </ng-container>
                        <!-- action Column -->
                        <ng-container matColumnDef="action" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>
                                Acciones
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <!-- Opt Buttons -->
                                <button mat-icon-button [matMenuTriggerFor]="actionMenus">
                                    <mat-icon>more_vert</mat-icon>
                                </button>

                                <mat-menu #actionMenus="matMenu" xPosition="after" yPosition="above"
                                    overlapTrigger="true">
                                    <button mat-menu-item (click)="edit(element)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                    </button>
                                    <button mat-menu-item (click)="destroy(element)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Eliminar</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr class="elements-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row text-center" *matNoDataRow>
                            <td class="mat-cell mat-no-data-row" colspan="7">No hay datos disponibles en la tabla</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dialogs -->
<!-- Agregar/Editar -->
<p-dialog [(visible)]="modalUser" [breakpoints]="{'960px': '75vw', '640px': '90vw'}" [style]="{width: '50vw'}"
    [modal]="true" [closable]="true" [draggable]="false" [resizable]="false" [header]="titleBase">
    <form id="form-user" [formGroup]="userForm!">
        <div class="row g-3 mt-1 mb-3">
            <div class="col-12 col-md-4">
                <div class="form-floating">
                    <input class="form-control form-control-sm" id="floatingIdentificacion" type="text"
                        placeholder="Cédula" autocomplete="off" formControlName="identificacion"
                        (keypress)="this.commonSrv.restrictNumeric($event)">
                    <label for=" floatingIdentificacion">Cédula</label>
                    <small class="alert text-danger"
                        *ngIf="userForm.controls['identificacion'].invalid && userForm.controls['identificacion'].touched">
                        La cédula es requerida
                    </small>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-floating">
                    <input class="form-control form-control-sm" id="floatingNombres" type="text" placeholder="Nombres"
                        autocomplete="off" formControlName="nombres">
                    <label for="floatingNombres">Nombres</label>
                    <small class="alert text-danger"
                        *ngIf="userForm.controls['nombres'].invalid && userForm.controls['nombres'].touched">
                        Los nombres son requerido
                    </small>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-floating">
                    <input class="form-control form-control-sm" id="floatingApellidos" type="text"
                        placeholder="Apellidos" autocomplete="off" formControlName="apellidos">
                    <label for="floatingApellidos">Apellidos</label>
                    <small class="alert text-danger"
                        *ngIf="userForm.controls['apellidos'].invalid && userForm.controls['apellidos'].touched">
                        Los apellidos son requerido
                    </small>
                </div>
            </div>
        </div>
        <div class="row g-3 mt-1 mb-3">
            <div class="col-12 col-md-4">
                <div class="form-floating">
                    <p-calendar id="floatingFecNacimiento" [showClear]="true" placeholder="Fec. Nacimiento"
                        appendTo="body" autocomplete="off" formControlName="fechaNac" dateFormat="yy-mm-dd"
                        [showButtonBar]="true" [showIcon]="true">
                    </p-calendar>
                    <small class="alert text-danger"
                        *ngIf="userForm.controls['fechaNac'].invalid && userForm.controls['fechaNac'].touched">
                        La Fecha es requerida
                    </small>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <span class="p-float-label">
                    <p-dropdown appendTo="body" inputId="floatingGenero" [style]="{'width':'100%'}" [options]="genders"
                        formControlName="genero" optionLabel="name" optionValue="value" placeholder="Género">
                    </p-dropdown>
                    <label for="floatingGenero">Género</label>
                    <small class="alert text-danger"
                        *ngIf="userForm.controls['genero'].invalid && userForm.controls['genero'].touched">
                        El género es requerido
                    </small>
                </span>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-floating">
                    <input class="form-control form-control-sm" id="floatingNumeroHijos" type="number"
                        placeholder="Num. Hijos" autocomplete="off" formControlName="numeroHijos" min="0">
                    <label for="floatingNumeroHijos">Num. Hijos</label>
                    <small class="alert text-danger"
                        *ngIf="userForm.controls['numeroHijos'].invalid && userForm.controls['numeroHijos'].touched">
                        El campo es requerido
                    </small>
                </div>
            </div>
        </div>
        <div class="row g-3 mt-1 mb-3">
            <div class="col-12 col-md-4">
                <div class="form-floating">
                    <input class="form-control form-control-sm" id="floatingTel" type="text" placeholder="Teléfono"
                        autocomplete="off" formControlName="telefono"
                        (keypress)="this.commonSrv.restrictNumeric($event)">
                    <label for="floatingTel">Teléfono</label>
                    <small class="alert text-danger"
                        *ngIf="userForm.controls['telefono'].invalid && userForm.controls['telefono'].touched">
                        La Teléfono es requerido
                    </small>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="form-floating">
                    <input class="form-control form-control-sm" id="floatingDirección" type="text"
                        placeholder="Dirección" autocomplete="off" formControlName="direccion">
                    <label for="floatingDirección">Dirección</label>
                    <small class="alert text-danger"
                        *ngIf="userForm.controls['direccion'].invalid && userForm.controls['direccion'].touched">
                        La dirección es requerida
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="activo" id="floatingUserActive">
                    <label class="form-check-label" for="floatingUserActive">
                        Habilitar Usuario
                    </label>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button id="btn_st_user" pButton pRipple label="Guardar" icon="pi pi-save"
            class="p-button-sm p-button-outlined p-button-primary text-uppercase" [disabled]="userForm.invalid"
            (click)="userStore()" [loading]="isLoadingSave"></button>
    </ng-template>
</p-dialog>