<div class="bg-light text-center pt-5" style="height: 100vh;">
    <div class="container">
        <h1 class="display-1 pt-5 font-weight-bold">404</h1>
        <h1 class="display-6 pt-1 pb-3">PAGE NOT FOUND</h1>
        <h3 class="font-weight-light text-secondary">
            No se pudo encontrar el recurso solicitado <br> en este servidor
        </h3>
        <a href="#" class="btn btn-md btn-info mt-3 pa-3 text-white text-uppercase font-weight-bold">Volver al panel</a>
    </div>
</div>