<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/landlord/diosmar.png" alt="tenant-logo">
    </a>
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutSrv.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutSrv.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutSrv.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="signOff()">
            <i class="fa-solid fa-door-open"></i>
            <span>Cerrar Sesión</span>
        </button>
    </div>
</div>