@import "src/assets/scss/media-queries.scss";

.container-home {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 700;
    }

    @include xxs {
        img {
            width: 300px !important;
        }
    }

    @include xs {
        img {
            width: 400px !important;
        }
    }

    @include sm {
        img {
            width: 600px !important;
        }
    }
}