<ul class="layout-menu">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <p class="card-text text-center m-1">
                        <b>INFORMACIÓN</b>
                    </p>
                    <hr class="m-1" />
                    <p class="card-text">
                        <small>{{ commonSrv.getPayload()?.organization | uppercase }}</small>
                        <br />
                        <small>{{ commonSrv.getPayload()?.username | uppercase }}</small>
                        <br />
                        <small>{{ commonSrv.getPayload()?.role | uppercase }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>