/* Material */
@use "@angular/material" as mat;
@import "material-icons/iconfont/material-icons.css";

@include mat.core();

$homero-primary: mat.define-palette(mat.$indigo-palette);
$homero-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$homero-warn: mat.define-palette(mat.$red-palette);

$homero-theme: mat.define-light-theme((color: (primary: $homero-primary,
                accent: $homero-accent,
                warn: $homero-warn,
            ),
        ));

@include mat.all-component-themes($homero-theme);

/* You can add global styles to this file, and also import other style files */
@import "assets/layout/styles/layout/layout.scss";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/scss/colors";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section-container {
    position: relative;

    .section-table-container {
        position: relative;
        min-height: 200px;
        max-height: 350px;
        overflow: auto;

        table {
            width: 100%;

            .mat-row:nth-child(n + 1) {
                background-color: #f5f5f5;
            }

            .mat-row:not(:nth-child(2n + 1)) {
                background-color: #ffffff;
            }

            tr.elements-row:hover {
                background: whitesmoke;
            }

            td.mat-cell {
                text-align: center !important;
                font-size: 12px !important;
            }

            th.mat-header-cell {
                font-size: 12px !important;
                font-weight: bold !important;
                text-transform: uppercase !important;
                text-align: center !important;
            }

            td.mat-no-data-row {
                text-align: center !important;
            }

            .mat-sort-header-container {
                justify-content: center;
            }
        }
    }
}